/*
font-family: 'Montserrat', sans-serif;
font-family: 'Niconne', cursive;
*/
html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', san-serif;
    font-size: 1.1em;
}

html {
    background-color: white;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}
h1, h2{
    font-family: 'Niconne', cursive;
    color: #FD8503;
}

#image {
    display:block;
    min-width:100%;
    max-width: 100%;
    height: auto;
}

#title {
    text-align: center;
}

#title p {
    margin-top: -25px;
    font-size: 1.1em;
}

#img-caption {
    font-size: 1.1em;
    margin: 5px 5% 0px 5%;
    text-align: center;
}

#tribute-info {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

#tribute-head {
    text-align: center;
    margin-top: -35px;
}

ul {
    list-style-type: none;
}

.dates {
    font-weight: bold;
    font-size: 1.1em;
}

hr.style-hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#before-leave {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

#luggage-img {
    display: block;
    width: 200px;
    height: auto;
    float: right;
}

#last-p {
    float: left;
}